body {
  background-color: blue;
}

h1 {size: 73px;
  font-family: Helvetica;
  color: white;
}
div {
  background-color: blue;
 
}
.one{
  padding-left: 300px;
  color: white;
  font-size: 34px;
}
.true{
  padding-left: 50px;
  padding-top: 33px;
 
  
}
.three{
  padding-left: 100px;
  padding-right: 100px;
}
  
  li{
  color: white; 
  font-size: 20px;
}
  

p{
  color: black; 
  font-size: 20px;
  font-family: Helvetica;
}
ul{
  color: white; 
  
  font-size: 20px;
  font-family: Helvetica;}

li{
  font-size: 20px;}

  h3{
  color: white; 
  font-size: 20px;
  font-family: Helvetica;
 
}

